altgraph==0.17.2
certifi==2021.10.8
chardet==4.0.0
docopt==0.6.2
future==0.18.2
idna==3.3
music-tag==0.4.3
mutagen==1.45.1
pefile==2021.9.3
Pillow==9.3.0
pipreqs==0.4.11
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
pywin32-ctypes==0.2.0
requests==2.27.1
tqdm==4.62.3
urllib3==1.26.8
yarg==0.1.9
